html {
  font-size: 70%;
}

body {
  font-family: 'CMUSerifRoman';
  font-weight: normal;
  font-variant-ligatures: none;
  font-size: 20px;
  color: #102030;
  background-color: #ffffff;
}

.postBody {
  text-align: justify;
}

.title {
  text-align: left;
}

::-moz-selection {
  background: #ffffcc;
  color: #3333ff;
  text-shadow: 1px 1px 1px #ccf;
}

::selection {
  background: #ffffcc;
  color: #3333ff;
  text-shadow: 1px 1px 1px #ccf;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  color: #2080d0;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus{
  color: #40a0ff;
}


.left {
  height: 100%;
  width: 350px;
  transition: 0s;  
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  overflow: hidden;
  background-color: #111;
  text-align: center;
  line-height: normal;
  font-weight: bold;
  color: #818181;
  font-family: "Buda";
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.left .logo {
  position: absolute;
  bottom: 35%;
  right: 15%;
  color: ivory;
  display:block;
  font-size: 20px;
  text-align: center;
}

.left ::selection {
  text-shadow: unset;
}

.left img {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.left .logo a {
  color: #f9f9f9;
  font-family: "Alegreya";
  font-size: 32px;
  font-variant: small-caps;
  padding-bottom: 30px;
  display: block;  
}

.logo a:hover,.logo a:focus{
  text-shadow: 0px 0px 10px #555;
  color: white;
}

.main {
  margin-left: 420px;
  margin-right:120px;
  transition: 0s;  
}

.rightContainer {
  height: 100%;
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 26px;
  background-color:#111;
  overflow: hidden;
  color: #818181;
  text-align: center;
}

.right {
  height: 100%;
  width: 90px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.iconset {
  overflow: hidden;
  width: 100%;
}

.right a {
  font-weight: bold;
  color: #818181;
  display: block;
  height: 50px;
  padding: 22px 26px 18px 20px;
}

.right a:hover, .right a:focus{
  font-size: 27px;  
  background-color: #222;
  color: #f1f1f1;
  transition: 0.15s;  
}

a.homeLink:hover, a.homeLink:focus {
  color: white;
  text-shadow: 0px 0px 15px #999;
}

a.abLink:hover, a.abLink:focus {
  color: goldenrod;
}

a.ctsLink:hover, a.ctsLink:focus {
  color: #50ff50;
}

a.ghLink:hover, a.ghLink:focus {
  color: white;
}

a.seLink:hover, a.seLink:focus {
  color: #33f;
}

a.qLink:hover, a.qLink:focus {
  color: #b92b27;
}

a.emLink:hover, a.emLink:focus {
  color:palegoldenrod;
}

.right a:active {
  background-color:#171717;
}

footer {
  text-align: center;
  margin-top: 3rem;
  padding: 1.2rem;
  border-top: 0.2rem solid #000;
  font-size: 15px;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article.post {
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 1px;  
}

.postdate {
  font-family: Palanquin;
  font-size:15px;
}

article.header {
  font-size: 1.6rem;
  font-family: "Actor";
  font-style: italic;
  color: #555;
  text-align: left;
}

 .teaser {
  border-style: solid;
  background-color: #f9f9f9;
  border-color: #f7f7f7;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 0.5px;
  border-bottom-width: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.teaser .post {
  font-family: "Buda";
  font-size: 1em;
  letter-spacing: 0px;
  line-height: normal;
}

.teaser .title {
  font-family: Actor;
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: left;
}

.teaser .postDate {
  font-style: italic; 
}

.contents {
  font-family: "Buda";
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5em;
}

@media screen and (max-height: 300px) {
  .left .logo {
    bottom: 15%;
    font-size: 1.7rem;
  }
  .left .logo a {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 900px) {
  .left {
    width: 350px;
    transition: 0.5s;
  }

  .main {
    margin-left: 420px;
    margin-right:120px;
    transition: 0.5s;
  }

  .right .homeLink {
    display: none;
  }

  .right .contact {
    position: relative;
    padding-top: 100px;
  }

  .iconset {
    overflow: hidden;
    width: 100%;
  }

  footer {
    margin-left: 420px;
    margin-right: 120px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 899px) {
  .left {
    width: 0;
    transition: 0.5s;
  }

  .main {
    margin-left: 70px;
    margin-right: 70px;
    transition: 0.5s;
  }

  .rightContainer {
    width: 50px;
  }

  .right {
    height: 100%;
    width: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .right .contact {
    position: relative;
    padding-top: 80px;
  }

  .right a {
    width: 20px;
    height: 40px;
    font-size: 2.2rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .right a:hover, .right a:focus {
    font-size: 2.3rem;
  }

  .right .homeLink {
    display: block;
  }
  
  footer {
    margin-left: 70px;
    margin-right: 70px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 500px) {
  .main {
    margin-left: 60px;
    margin-right: 10px;
    transition: 0.3s;
  }

  .rightContainer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2.6rem;
    background-color:#111;
    overflow: hidden;
    text-align: center;
    color: #818181;
    z-index: 3;
  }
  
  .right {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display:block;
    overflow-y: auto;
    overflow-x: scroll;
  }

  .iconset {
    overflow: hidden;
    width: 500px;
  }

  .right a {
    position: relative;
    top: 0;    
    float: left;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 2rem;
  }
  
  .right .contact {
    position: relative;
    padding-top: 0px;
    float: right;
  }
  
  .right a:hover, .right a:focus {
    font-size: 2.1rem;
  }

  footer {
    font-size: 1rem;
    margin-bottom: 50px;
    margin-right: 10px;
  }
}

.sidenav {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #151515;
  overflow-x: visible;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .contentsbar{
  height: 100%;
  width: 420px;
  position: absolute;
  top: 0;
  right: 0;
  direction: rtl;
  overflow-x: visible;
  overflow-y: scroll;
}

.sidenav .contentsbar .contentslist{
  width: 350px;
  text-align: left;
  position: relative;
  overflow-x: visible;
  right: 0px;  
  direction: ltr;
  padding-top: 10%;
  padding-bottom: 30%;  
}

.open{
  width: 350px;
}

.sidenav a {
  padding: 0px 8px 8px 32px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
  color: #818181;
  transition: 0.3s;
  display: none;
}

.open a {
  display: block;
  width: 350px;
  font-size: 20px;
}

.postname {
  display:block;
  width: 280px;
}

.sidenav a:hover, .sidenav a:focus {
  background-color: #222;
  color: #f1f1f1;
}

.sidenav a:active {
  color: #5070F0;
  background-color:#202020;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 10px;
  width:50px;
  padding-left: 0px;
  padding-top: 3px;
  height: 35px;
  display: block;
  z-index: 1;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #818181;
  margin: 6px 0px 0px 15px;
  transition: 0.4s;
  border-radius: 3px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 5px);
  transform: rotate(-45deg) translate(-10px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -5px);
  transform: rotate(45deg) translate(-10px, -5px);
}
